{% extends 'base.html.twig' %}

{% block title %}{{'edit panier'|trans}}
{% endblock %}

{% block body %}
	<h1>{{'edit panier'|trans}}</h1>

	{{ include('panier/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('app_panier_index') }}">{{'back to list'|trans}}</a>

	{{ include('panier/_delete_form.html.twig') }}
{% endblock %}
