{% extends 'base.html.twig' %}

{% block title %}Panier index
{% endblock %}

{% block body %}
	<h1>Panier index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Achat</th>
				<th>Etat</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for panier in paniers %}
				<tr>
					<td>{{ panier.id }}</td>
					<td>{{ panier.achat ? panier.achat|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ panier.etat ? 'Yes' : 'No' }}</td>
					<td>
						{% if is_granted('ROLE_ADMIN') %}
							<a class="btn btn-primary" href="{{ path('app_panier_show', {'id': panier.id}) }}">{{'show'|trans}}</a>
							<a class="btn btn-warning" href="{{ path('app_panier_edit', {'id': panier.id}) }}">{{'edit'|trans}}</a>
							<a class="btn btn-danger" href="{{ path('app_panier_delete', {'id': panier.id}) }}">{{'delete'|trans}}</a>
						{% endif %}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">{{'no recors found'|trans}}</td>
				</tr>
			{% endfor %}

		</tbody>
	</table>
	{% if is_granted('ROLE_ADMIN') %}
		<a href="{{ path('app_panier_new') }}">{{'create new'|trans}}</a>
	{% endif %}
{% endblock %}
