{% extends 'base.html.twig' %}

{% block title %}{{'new product'|trans}}{% endblock %}

{% block body %}
    <h1>{{'create a new'|trans}} {{'produit.produit'|trans}}</h1>

    {{ include('produit/_form.html.twig') }}

    <a href="{{ path('app_produit_index') }}">{{'back to list'|trans}}</a>
{% endblock %}
