{% extends 'base.html.twig' %}

{# Liaison avec le fichier CSS #}
    {% block link %}<link rel="stylesheet" type="text/css" href="{{ asset('/css/produitCSS/produit_style.css') }}">{% endblock %}
{% block title %}{{ produit.nom }}{% endblock %}


{% block body %}
    <body>
    <h1>{{ produit.nom }}</h1>
<div id="general">
    <div id="div_produit_show">
        <div id="div_float_left">
            <div>
                <tr>
                    {# Partie visible que par les ROLE_ADMIN #}
                    {% if is_granted('ROLE_ADMIN') %}
                    <td>{{'photo'|trans}} :</td>
                    {% endif %}
                    <td><img src="{{ asset('uploads/' ~ produit.photo) }}" alt="{{ produit.nom }}"/></td>
                </tr>
            </div>
            {# Partie visible que par les ROLE_ADMIN #}
            {% if is_granted('ROLE_ADMIN') %}
            <div>
                <tr>
                    <td>Id :</td>
                    <td>{{ produit.id }}</td>
                </tr>
            </div>
            {% endif %}
        </div>
        <div id="div_float_right">
            <div>
                <tr>
                {# Partie visible que par les ROLE_ADMIN #}
                {% if is_granted('ROLE_ADMIN') %}
                    <td>{{'nom'|trans}} :</td>
                {% endif %}
                    <td><h2>{{ produit.nom }}</h2></td>
                </tr>
            </div>
            <div>
                <tr>
                    <td>{{'prix'|trans}} :</td>
                    <td>{{ produit.prix }} €</td>
                </tr>
            </div>
            <div>
                <tr>
                    <td>Stock :</td>
                    <td>{{ produit.stock }}</td>
                </tr>
            </div>
        </div>
    </div>
    <div id="div_description">
        <tr>
            <div id="title_description" class="uppercase">
                <td>Description</td>
            </div>
            <div>
                <td><p>{{ produit.description }}</p></td>
            </div>
        </tr>
    </div> 
</div>
    <a href="{{ path('app_produit_index') }}" id="button_back" class="btn btn-secondary">{{'back to list'|trans}}</a>
    {# Partie visible que par les ROLE_ADMIN #}
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}" class="btn btn-warning">{{'edit'|trans}}</a>

    {{ include('produit/_delete_form.html.twig') }}
    {% endif %}
    </body> 
{% endblock %}
