{% extends 'base.html.twig' %}

{% block title %}ContenuPanier index
{% endblock %}

{% block body %}
	<h1>ContenuPanier index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Quantite</th>
				<th>Ajout</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for contenu_panier in contenu_paniers %}
				<tr>
					<td>{{ contenu_panier.id }}</td>
					<td>{{ contenu_panier.quantite }}</td>
					<td>{{ contenu_panier.ajout ? contenu_panier.ajout|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						{% if is_granted('ROLE_ADMIN', 'ROLE_SUPER_ADMIN') %}
							<a class="btn btn-primary" href="{{ path('app_contenu_panier_show', {'id': contenu_panier.id}) }}">Voir</a>
							<a class="btn btn-warning" href="{{ path('app_contenu_panier_edit', {'id': contenu_panier.id}) }}">Modifier</a>
							<a class="btn btn-danger" href="{{ path('app_contenu_panier_delete', {'id': contenu_panier.id}) }}">Supprimer</a>
						{% endif %}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if is_granted('ROLE_ADMIN', 'ROLE_SUPER_ADMIN') %}
		<a href="{{ path('app_contenu_panier_new') }}">Create new</a>
	{% endif %}
{% endblock %}
