{% extends 'base.html.twig' %}

{% block title %}{{'edit contenupanier'|trans}}
{% endblock %}

{% block body %}
	<h1>{{'edit contenupanier'|trans}}</h1>

	{{ include('contenu_panier/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('app_contenu_panier_index') }}">{{'back to list'|trans}}</a>

	{{ include('contenu_panier/_delete_form.html.twig') }}

{% endblock %}
