{% extends 'base.html.twig' %}

{% block title %}{{'Ajouter au Panier'|trans}}{% endblock %}

{% block body %}
    <h1>{{'Ajouter au Panier'|trans}}</h1>

    {{ include('contenu_panier/_form.html.twig') }}

    <a href="{{ path('app_contenu_panier_index') }}" class="btn btn-secondary">{{'back to list'|trans}}</a>
{% endblock %}
