{% extends 'base.html.twig' %}

{% block title %}{{'create new user'|trans}}{% endblock %}

{% block body %}
    <h1>{{'create new user'|trans}}</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('app_user_index') }}">{{'back to list'|trans}}</a>
{% endblock %}
